### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# First, we should check the whether the data needs to be clean
overview = purchase_data.count()
overview

## from the result, we know that the data is cleaned

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
# Second, we should see whether the dataset has repeated player name, if so, we could not use "count()" commond
#### here, we need to use value_counts() to check the repeated data
Unique_Name_Check = purchase_data["SN"].value_counts()
totalPlayers = len(Unique_Name_Check)
print("totalPlay = ", totalPlayers)

totalPlay =  576

In [4]:
## finally, place all of the data found into a summary DataFrame
totalPlayersTable = pd.DataFrame({"Total Players": [totalPlayers]})
totalPlayersTable

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# First, we get the number of unique purchased items
number_of_unique_items = purchase_data["Item Name"].nunique()
print("total number of unique items are", number_of_unique_items)

total number of unique items are 179

In [6]:
# Second, we get the average price
average_price = purchase_data["Price"].mean()
print("average price for all the items is $",average_price)

average price for all the items is $ 3.050987179487176

In [7]:
# Third, we get the number of Purchases - I think it means how many the purchases had happened in total
number_of_purchases = purchase_data["Purchase ID"].count()
print("total number of purchase is",number_of_purchases)

total number of purchase is 780

In [8]:
# Third, we get the number of Purchases - I think it means how many the purchases had happened in total
total_revenue = purchase_data["Price"].sum()
print("total revenue is $", total_revenue)

total revenue is $ 2379.77

In [9]:
## fourth, place all of the data found into a summary DataFrame
totalPurchaseAnalysis = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                      "Average Price" : [average_price],
                                      "Number of Purchases" : [number_of_purchases],
                                      "Total Revenue" : [total_revenue]})
### and then, fomat the columns
totalPurchaseAnalysis["Average Price"] = totalPurchaseAnalysis["Average Price"].map('${:,.2f}'.format)
totalPurchaseAnalysis["Total Revenue"] = totalPurchaseAnalysis["Total Revenue"].map('${:,}'.format)
totalPurchaseAnalysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# First, as we mentioned before there are repeated players
### we also got the total player = 576
player_group = purchase_data.groupby(["SN"])
totalPlayers = len(player_group.count())
print("totalPlayers = ",totalPlayers)

totalPlayers =  576

In [11]:
# Second, find the unique male count and percentage
male_repeat = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_unique = male_repeat.groupby(["SN"])
MaleCount = len(male_unique.count())

## and find the male percentage
male_perc = MaleCount/totalPlayers*100
MalePerc = round(male_perc,2)

print("MaleCount =", MaleCount)
print("MalePerc =", MalePerc,"%")

MaleCount = 484
MalePerc = 84.03 %

In [12]:
# Third, we find the "Female" counts and percentage
female_repeat = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_unique = female_repeat.groupby(["SN"])
FemaleCount = len(female_unique.count())

## and find the female percentage
female_perc = FemaleCount/totalPlayers*100
FemalePerc = round(female_perc,2)

print("FemaleCount =",FemaleCount)
print("FemalePerc =",FemalePerc,"%")

FemaleCount = 81
FemalePerc = 14.06 %

In [13]:
# Fourth, we find "Other/Non-Disclosed" counts and percentage
Other_repeat = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
Other_unique = Other_repeat.groupby(["SN"])
OtherCount = len(Other_unique.count())

## and find the female percentage
other_perc = OtherCount/totalPlayers*100
OtherPerc = round(other_perc,2)

print("OtherCount =",OtherCount)
print("OtherPerc =",OtherPerc, "%")

OtherCount = 11
OtherPerc = 1.91 %

In [14]:
## fifth, place all of the data found into a summary DataFrame
totalGenderAnalysis = pd.DataFrame({"Total Count": [MaleCount, FemaleCount, OtherCount],
                                    "Percentage of Players" : [MalePerc, FemalePerc, OtherPerc]})
totalGenderAnalysis.set_index([["Male","Female","Other/Non-Disclosed"]])

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#  At the beginning, we should know 
## Different from previous analysis, we need not to worry about the repeated name
### we should know the purchase is unique no matter perfomed by the same person or not
male_purchase = purchase_data.loc[purchase_data["Gender"] == "Male",:]
female_purchase = purchase_data.loc[purchase_data["Gender"] == "Female",:]
other_purchase = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]

In [16]:
## Second, count the purchase by gender
malePurchaseCount = male_purchase["Purchase ID"].count()
femalePurchaseCount = female_purchase["Purchase ID"].count()
otherPurchaseCount = other_purchase["Purchase ID"].count()

print("malePurchaseCount = ",malePurchaseCount)
print("femalePurchaseCount = ",femalePurchaseCount)
print("otherPurchaseCount = ",otherPurchaseCount)

malePurchaseCount =  652
femalePurchaseCount =  113
otherPurchaseCount =  15

In [17]:
## Third, average price for each gender purchase
maleAveragePrice = male_purchase["Price"].mean()
femaleAveragePrice = female_purchase["Price"].mean()
otherAveragePrice = other_purchase["Price"].mean()

print("average price for male purchase is $",maleAveragePrice)
print("average price for female purchase is $",femaleAveragePrice)
print("average price for other purchase is $",otherAveragePrice)

average price for male purchase is $ 3.0178527607361953
average price for female purchase is $ 3.203008849557519
average price for other purchase is $ 3.3460000000000005

In [18]:
## Fourth, total purchase value for each gender purchase
maleTotalPurchaseValue = male_purchase["Price"].sum()
femaleTotalPurchaseValue = female_purchase["Price"].sum()
otherTotalPurchaseValue = other_purchase["Price"].sum()

print("total value for male purchase is $",maleTotalPurchaseValue)
print("total value for female purchase is $",femaleTotalPurchaseValue)
print("total value for other purchase is $",otherTotalPurchaseValue)

total value for male purchase is $ 1967.64
total value for female purchase is $ 361.94
total value for other purchase is $ 50.19

In [19]:
## Fifth, avg. purchase total per person
average_per_unique_male = maleTotalPurchaseValue/MaleCount
average_per_unique_female = femaleTotalPurchaseValue/FemaleCount
average_per_unique_other = otherTotalPurchaseValue/OtherCount

print("avg. purchase total per unique male is $",average_per_unique_male)
print("avg. purchase total per unique female is $",average_per_unique_female)
print("avg. purchase total per unique other is $",average_per_unique_other)

avg. purchase total per unique male is $ 4.065371900826446
avg. purchase total per unique female is $ 4.468395061728395
avg. purchase total per unique other is $ 4.5627272727272725

In [20]:
## finally, place all of the data found into a summary DataFrame
PurchaseByGenderAnalysis = pd.DataFrame({"Purchase Count": [malePurchaseCount,femalePurchaseCount,otherPurchaseCount],
                                         "Average Purchase Price" : [maleAveragePrice,femaleAveragePrice,otherAveragePrice],
                                         "Total Purchases Value" : [maleTotalPurchaseValue,femaleTotalPurchaseValue,otherTotalPurchaseValue],
                                         "Average Total Purchase per Person" : [average_per_unique_male,average_per_unique_female,average_per_unique_other],
                                         # I also add "Gender" which will be set as index later on
                                         "Gender" : ["Male","Female","Other/Non-Disclosed"]})
### and then, fomat the columns
PurchaseByGenderAnalysis["Average Purchase Price"] = PurchaseByGenderAnalysis["Average Purchase Price"].map('${:,.2f}'.format)
PurchaseByGenderAnalysis["Total Purchases Value"] = PurchaseByGenderAnalysis["Total Purchases Value"].map('${:,}'.format)
PurchaseByGenderAnalysis["Average Total Purchase per Person"] = PurchaseByGenderAnalysis["Average Total Purchase per Person"].map('${:,.2f}'.format)

#### set index
PurchaseByGenderAnalysis.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchases Value,Average Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
## First, use the "describe" to know the range of age
purchase_data["Age"].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [22]:
# Second, create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-49","40+"]

# check whether the bin is successfully created
purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
# Second, I need to group the data with the age bins
purchase_age_group = purchase_data.groupby(["Age Summary"])

### Note, there is a repeated age, and I only need the unique name
########### and return number of unique elements in the group##################
age_count = purchase_age_group["SN"].nunique()
age_count

Age Summary
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-49     31
40+       12
Name: SN, dtype: int64

In [24]:
### Third, count the players in each age slot
age_perc = age_count/totalPlayers*100
age_perc

Age Summary
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-49     5.381944
40+       2.083333
Name: SN, dtype: float64

In [25]:
# Fourth, creating a new DataFrame using both age count and percentage
age_summary_table = pd.DataFrame({"Total Count": age_count,
                                  "Percentage of Players": age_perc})
### and then, fomat the columns
age_summary_table["Percentage of Players"] = age_summary_table["Percentage of Players"].map('{:,.2f}'.format)
age_summary_table

             Total Count Percentage of Players
Age Summary
<10                   17                  2.95
10-14                 22                  3.82
15-19                107                 18.58
20-24                258                 44.79
25-29                 77                 13.37
30-34                 52                  9.03
35-49                 31                  5.38
40+                   12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
# First, I will reuse the bins that I create above
purchase_age_group = purchase_data.groupby(["Age Summary"])

### I will also do the count
#### Note: repeat SN is allowed################
purchase_age_count = purchase_age_group["Purchase ID"].count()
purchase_age_count

Age Summary
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-49     41
40+       13
Name: Purchase ID, dtype: int64

In [27]:
### Second, I will also do the average
purchase_age_average_price = purchase_age_group["Price"].mean()
purchase_age_average_price

Age Summary
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-49    3.601707
40+      2.941538
Name: Price, dtype: float64

In [28]:
### Third, I will also do total purchase value
purchase_age_total_value = purchase_age_group["Price"].sum()
purchase_age_total_value

Age Summary
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-49     147.67
40+        38.24
Name: Price, dtype: float64

In [29]:
### Fourth, I will also do the average person
####### repeatibility is NOT allowed here
purchase_age_average_person = purchase_age_group["Price"].sum()/age_count
purchase_age_average_person

Age Summary
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-49    4.763548
40+      3.186667
dtype: float64

In [30]:
## finally, place all of the data found into a summary DataFrame
PurchaseByAgeAnalysis = pd.DataFrame({"Purchase Count": purchase_age_count,
                                      "Average Purchase Price" : purchase_age_average_price,
                                      "Total Purchases Value" : purchase_age_total_value,
                                      "Average Total Purchase per Person" : purchase_age_average_person})
### and then, fomat the columns
PurchaseByAgeAnalysis["Average Purchase Price"] = PurchaseByAgeAnalysis["Average Purchase Price"].map('${:,.2f}'.format)
PurchaseByAgeAnalysis["Total Purchases Value"] = PurchaseByAgeAnalysis["Total Purchases Value"].map('${:,.2f}'.format)
PurchaseByAgeAnalysis["Average Total Purchase per Person"] = PurchaseByAgeAnalysis["Average Total Purchase per Person"].map('${:,.2f}'.format)

PurchaseByAgeAnalysis = PurchaseByAgeAnalysis.sort_index(ascending = True)
PurchaseByAgeAnalysis

,Purchase Count,Average Purchase Price,Total Purchases Value,Average Total Purchase per Person
Age Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-49,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
### first, count the unique SN 
spender_grouped = purchase_data.groupby(["SN"])

# and count repeated SN
purchase_SN_count = spender_grouped["SN"].count()
purchase_SN_count.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: SN, dtype: int64

In [32]:
# Second, calculate the average price 
average_SN_price = spender_grouped["Price"].mean()
average_SN_price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [33]:
# Third, calculate the total purchase
purchase_SN_total_value = spender_grouped["Price"].sum()
purchase_SN_total_value.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [34]:
## finally, place all of the data found into a summary DataFrame
PurchaseBySNAnalysis = pd.DataFrame({"Purchase Count": purchase_SN_count,
                                      "Average Purchase Price" : average_SN_price,
                                      "Total Purchases Value" : purchase_SN_total_value})
### and then, fomat the columns
PurchaseBySNAnalysis["Average Purchase Price"] = PurchaseBySNAnalysis["Average Purchase Price"].map('${:,.2f}'.format)
PurchaseBySNAnalysis["Total Purchases Value"] = PurchaseBySNAnalysis["Total Purchases Value"].map('${:,.2f}'.format)

PurchaseBySNAnalysis = PurchaseBySNAnalysis.sort_values(["Purchase Count"], ascending = False)
PurchaseBySNAnalysis.head()

             Purchase Count Average Purchase Price Total Purchases Value
SN
Lisosia93                 5                  $3.79                $18.96
Iral74                    4                  $3.40                $13.62
Idastidru52               4                  $3.86                $15.45
Asur53                    3                  $2.48                 $7.44
Inguron55                 3                  $3.70                $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
### first, count the unique Item ID 
purchaseID_grouped = purchase_data.groupby(["Item ID"])

# and count repeated ID
purchase_ID_count = purchaseID_grouped["SN"].nunique()
purchase_ID_count.sort_values(ascending = False).head()

Item ID
178    12
82      9
108     9
145     9
92      8
Name: SN, dtype: int64

In [36]:
### second, list the unique Item name
purchaseID_grouped = purchase_data.groupby(["Item ID"])

purchase_ID_name = purchaseID_grouped["Item Name"].unique()
purchase_ID_name.head()

Item ID
0              [Splinter]
1              [Crucifer]
2               [Verdict]
3          [Phantomlight]
4    [Bloodlord's Fetish]
Name: Item Name, dtype: object

In [37]:
# Second, count Item Price
purchase_ID_price = purchaseID_grouped["Price"].mean()
purchase_ID_price.sort_values(ascending = False).head()

Item ID
63     4.99
139    4.94
147    4.93
173    4.93
128    4.91
Name: Price, dtype: float64

In [38]:
# Third, count total value
purchase_ID_total_value = purchase_ID_count * purchase_ID_price
purchase_ID_total_value.sort_values(ascending = False).head()

Item ID
178    50.76
82     44.10
145    41.22
92     39.04
103    34.80
dtype: float64

In [45]:
## finally, place all of the data found into a summary DataFrame
PurchaseByIDAnalysis = pd.DataFrame({"Item Name": purchase_ID_name,
                                     "Purchase Count": purchase_ID_count,
                                      "Item Price" : purchase_ID_price,
                                      "Total Purchases Value" : purchase_ID_total_value})

PurchaseByIDAnalysis1 = PurchaseByIDAnalysis.sort_values(["Purchase Count"], ascending = False)

### and then, fomat the columns
PurchaseByIDAnalysis1["Item Price"] = PurchaseByIDAnalysis1["Item Price"].map('${:,.2f}'.format)
PurchaseByIDAnalysis1["Total Purchases Value"] = PurchaseByIDAnalysis1["Total Purchases Value"].map('${:,.2f}'.format)
PurchaseByIDAnalysis1.head()

,Item Name,Purchase Count,Item Price,Total Purchases Value
Item ID,,,,
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,$4.23,$50.76
145,[Fiery Glass Crusader],9,$4.58,$41.22
108,"[Extraction, Quickblade Of Trembling Hands]",9,$3.53,$31.77
82,[Nirvana],9,$4.90,$44.10
19,"[Pursuit, Cudgel of Necromancy]",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [44]:
PurchaseByIDAnalysis2 = PurchaseByIDAnalysis.sort_values(["Total Purchases Value"], ascending = False)

### and then, fomat the columns
PurchaseByIDAnalysis2["Item Price"] = PurchaseByIDAnalysis2["Item Price"].map('${:,.2f}'.format)
PurchaseByIDAnalysis2["Total Purchases Value"] = PurchaseByIDAnalysis2["Total Purchases Value"].map('${:,.2f}'.format)
PurchaseByIDAnalysis2.head()

,Item Name,Purchase Count,Item Price,Total Purchases Value
Item ID,,,,
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,$4.23,$50.76
82,[Nirvana],9,$4.90,$44.10
145,[Fiery Glass Crusader],9,$4.58,$41.22
92,[Final Critic],8,$4.88,$39.04
103,[Singed Scalpel],8,$4.35,$34.80